Dataset/*
Abandoned/*
runs/*
*.pyc
*.pyo
*.pyd
__pycache__/*
*.egg-info/*
*.egg
*.whl
*.tar.gz
*.zip
results/*
*.pt
*.pth
*.json
*.log
*.csv
./Yolo_Testing.ipynb
Other Models/*
# Ignore all files in the Dataset directory
# Ignore all files in the Abandoned directory